# Nuxt
.nuxt
.output
.data
.nitro
.cache
dist
dist-ssr

# Node
node_modules
*.log*
.npm

# Env
.env
.env.*
!.env.example

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
Thumbs.db

# Drizzle
server/database/migrations/meta

# Playwright
.playwright-mcp/
